<% if @todo.errors.present? %>
  <ul>
    <% @todo.errors.each do |error, message| %>
      <li> <%= "#{error.capitalize}  #{message}" %></li>
    <% end %>
  </ul>
<% end %>

<div class="form form-horizontal">
  <%= form_for @todo do |f| %>
    <div class="form-group">
      <%= f.label :status, "Finish?", class: "col-sm-1 control-label" %>
      <div class="col-sm-1">
        <%= f.radio_button :status, "no" %>
        <%= label_tag(:undone, "UNDONE") %><br />
        <%= f.radio_button :status, "yes" %>
        <%= label_tag(:done, "DONE") %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :name, "Title", class: "col-sm-1 control-label"  %>
      <div class="col-sm-2">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :due_date, "Due_date", class: "col-sm-1 control-label"  %>
      <div class="col-sm-1">
        <%= f.text_field :due_date, :value => (f.object.due_date || Date.today), class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :note, "Note", class: "col-sm-1 control-label"  %>
      <div class="col-sm-3">
        <%= f.text_area :note, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-offset-1">
      <%= f.submit %>
    </div>
  <% end %>
</div>
